<div class="phones">
    <ul>
    {% for phone in man.phones.all %}
        <li><b>{{ phone.number }}</b> ({{ phone.room }}, {{ phone.category }})</li>
    {% endfor %}
    </ul>
</div>
<div class="about">
    <h2>{{ man }}</h2>
    <p>{{ man.position }}</p>
    {% if man.photo %}
        <img src="{{ man.photo.url }}">
    {% endif %}
</div>
