{% extends 'base.html' %}
{% load i18n compressed mptt_tags %}

{% block css %}
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'pb' %}
{% endblock %}

{% block js %}
    {% compressed_js 'jquery' %}
    {% compressed_js 'pb' %}
{% endblock %}

{% block bodyclass %}index hide{% endblock %}

{% block body %}
<div class="top-line"></div>

<div class="search-bar">
    <a href="/" class="logo js-logo">PB</a>
    <form action="/" method="get">
        <input type="text" name="q" placeholder="{% trans 'Search' %}">
        <button class="btn btn-link js-search"><i class="icon-search icon"></i></button>
    </form>
</div>

<div class="breadcrumbs">
    <ul>
        <li><a href="#" class="js-categories-link"><span class="js-arrow">▾</span> {% trans 'categories' %}</a> </li>
        <li class="js-search-breadcrumb">{% trans 'search' %}</li>
    </ul>
</div>

<div class="categories js-categories">
    <ul>
        {% recursetree categories %}
        <li>
            {% if category == node %}
                <span class="selected">{{ node.title }}</span>
            {% else %}
                <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
            {% endif %}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>

{% if results %}
<div class="results">
    <table class="table table-bordered table-striped" data-details-url="{% url 'details' %}">
        <tr><th>{% trans 'Number' %}</th><th>{% trans 'Room' %}</th><th>{% trans 'Details' %}</th><th>{% trans 'Department' %}</th><th>{% trans 'People' %}</th></tr>
        {% for result in results %}
            <tr>
                <td>{{ result.number }}</td>
                <td>{{ result.room }}</td>
                <td>{{ result.details|default:'' }}</td>
                <td>{{ result.category.title }}</td>
                <td>
                {% for user in result.users.all %}
                    <a href="#" class="js-user" data-pk="{{ user.pk }}">{{ user }}</a>{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination" data-pages="{{ paginator.num_pages }}"></div>
</div>
{% else %}
<div class="no-results">{% trans 'No matches :(' %}</div>
{% endif %}

<div class="loading js-loading">
    {% trans 'Loading ...' %}
</div>

<footer>
    <div>
        &copy; 2013-{% now "Y" %} Oleksandr Polyeno | Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> | <a href="https://bitbucket.org/nanvel/pb" target="_blank">Bitbucket</a>
    </div>
</footer>
{% endblock %}
